# Ignore everything
*
#Dont ignore
!*/
!/.gitignore
!*.cs
!*.csproj
!*.tex
!*.sty
!*.org
!*.pdf
!*.jpeg
!*.jpg
!*.png
!*.svg
!*.zip
!*.bib
!/report/main.tex
!/report/main.pdf
!.c
!.cpp
!.cu
!.h
!.cu.h
!data.txt
